.card {
    width: 500px;
    height: 300px;
    border-width: 20px 30px;
    border-style: solid;
    border-color: hsl(51, 71%, 51%);
    text-align: left;
    position: relative;
    background-color: hsl(0, 0%, 41%);
}

.name {
    display: block;
    font-size: 36px;
    position: absolute;
    top: 0px;
    left: 10px;
}

.weight {
    display: block;
    font-size: 24px;
    position: absolute;
    bottom: 4px;
    left: 10px;
}

.handling {
    display: block;
    font-size: 24px;
    position: absolute;
    top: 60px;
    left: 10px;
}